.footer {
    background-color: #222;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

/* components/Layout.module.css */
.header {
    background-color: #222;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.favicon {
    height: 64px;
    width: 64px;
    position: absolute;
    left: 1rem;
}

.serverName {
    font-size: 3rem;
    color: #ffffff;
    margin: 0;
    width: 100%;
    text-align: center;
}

.tagline {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

/* Media query for tablet devices */
@media (min-width: 768px) {
    .serverName {
        font-size: 3rem;
    }

    .tagline {
        font-size: 0.25rem;
    }
}

/* Media query for desktop devices */
@media (min-width: 1024px) {
    .serverName {
        font-size: 3rem;
    }

    .tagline {
        font-size: 1rem;
    }
}
