/* components/Navbar.module.css */
.nav {
    background-color: #a81111;
    padding: 0.5rem;
}

.ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    margin-right: 1rem;
}

.a {
    color: #f7a92a;
    text-decoration: none;
    font-weight: bold;
}

.a:hover {
    text-decoration: underline;
}
